{%extends 'calendar_table.html'%}
{%block head_block%}
<html>
<head>
<title>JavaScript calendar</title>
	<link rel="stylesheet" type="text/css" href="/static/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/home.css">
	<!--fontawesome CDN up here-->
	<script src="https://use.fontawesome.com/b6dbcf5532.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.js"
		integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
		crossorigin="anonymous">
	</script>
	<script type="text/javascript" src="/static/javascript/home.js"></script>
</head>
<body>
	<div class='sidebar'>
		<p>sidebar here</p>

	</div>
  <div class="container">
{%endblock%}

{%block body_block%}
    </div>

  </div>
	<script
			  src="https://code.jquery.com/jquery-3.2.1.js"
			  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
			  crossorigin="anonymous">


	</script>

	<script type="text/javascript">

	$(document).ready(function(){
	$('.active').parents('td').css({'background-color':'#2ed39e', "color" : '#ffffff'});
	});

	</script>
{%endblock%}

{% block end_block%}
</body>
</html>
{% endblock %}
