{%extends 'calendar_table.html'%}
{%block head_block%}
<html>
<head>
	<title>Python calendar</title>
	<link rel="stylesheet" type="text/css" href="/static/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/home.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>


	<!--fontawesome CDN up here-->
	<script src="https://use.fontawesome.com/b6dbcf5532.js"></script>
	<script type="text/javascript" src="/static/javascript/home.js"></script>
</head>
<body id="body">
		{%endblock%}

	{%block body_block%}


{%endblock%}
	{% block end_block%}
</body>
</html>
{% endblock %}
