<html>
<head>

<style>



</style>
</head>
  <body>

<script
      src="https://code.jquery.com/jquery-3.2.1.js"
      integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
      crossorigin="anonymous">


</script>

<script type="text/javascript">
$('.Event').on('click', function(e) {

    e.preventDefault();
    console.log('oolaa')
  var $link = $(this).attr('href')
  $.ajax({
type: "GET", url: $link,
async: false,
success: function(response){
  //First you must append to div:
   $('.popup-2').html(response).modal();
}//success
});
});
</script>
</body>
</html>
