
    <div class="popup-2">
<div style="">

<h1 style="color:#ff8787">
    Event {{query.event}}
  </h1>
        <br/>
        <h2 style="color:#e5e6e7">
    Where
  </h2>
        <br/>
        <p style="color:#b3b3b3">
            {{query.Location}}
            <br/>
            <h2>
                When
                </h2>
                <p style="color:#b3b3b3">
                {{query.date_begin}} to {{query.date_end}},{{query.year}}</p>
            <h2>
            </br>
    Description
  </h2>
  <p style="color:#b3b3b3">{{query.Description}}</p>
    </div>
  </br>
    <a id = "modal-window" class="Event" href="{%url 'edit_events' id=id%}">EDIT</a>
    <a class="Event" href="{%url 'delete_events' id=id%}">DELETE</a>
    <div class="popup-3" data-popup="popup-1">

    </div>
    </div>
