<html>
<meta charset="utf-8">
</head>

<body>
    <div class="popup-2">

        <h1>
    Event {{query.event}}
  </h1>
        <br/>
        <h2>
    Where
  </h2>
        <br/>
        <p>
            {{query.Location}}
            <br/>
            <br/>
            <h2>
                When
                </h2> {{query.date_begin}} to {{query.date_end}},{{query.year}}
            <h2>
    Description
  </h2> {{query.Description}}
    </div>
    <a class="button-edit">EDIT</a>
    <a class="button-delete">DELETE</a>
    </div>

</body>

</html>
